/* Mixins */

@mixin valign($direction) {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: $direction;
  align-items: $direction;
}

@mixin flexalign($main, $cross) {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: $cross;
  align-items: $cross;
  -webkit-justify-content: $main;
  justify-content: $main;
}
